---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { ViewTransitions } from "astro:transitions";
import { HeadHrefLangs } from "astro-i18next/components";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/img/am_seo_bg.png" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/img/am.svg" />
<meta name="generator" content={Astro.generator} />
<HeadHrefLangs />

<!-- Font preloads -->
<link
  rel="preload"
  href="/fonts/MGNHumbleRegular.otf"
  as="font"
  type="font/otf"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/InstrumentSans-Regular.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/InstrumentSans-Bold.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/InstrumentSans-BoldItalic.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/InstrumentSans-Medium.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/InstrumentSans-MediumItalic.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/InstrumentSans-SemiBold.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/InstrumentSans-SemiBoldItalic.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>

<!-- JS Libraries
<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
-->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content="crosss" />
<meta
  name="keywords"
  content="alex malvehy, am, graphic design. graphic designer, graphic, graphics, motion designer, motion design, motion, designer, design, UI, Barcelona, Catalonia, Catalunya, Cataluña, Disseny Gràfic, Diseño Gráfico, Logos, Logotips, Logotipis, freelance, diseño freelance"
/>
<meta name="robots" content="index, follow" />
<meta name="language" content="en" />

<ViewTransitions />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:site_name" content="alex malvehy" />
<meta property="og:locale" content="en_US" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<meta property="twitter:site" content="@alexmalvehy" />
<meta property="twitter:creator" content="@alexmalvehy" />
