---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("work")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <iframe
      src="/html/frame_pulse.html"
      class="top-0 left-0 w-full h-full z-0 transition-all absolute"></iframe>
    <main class="pt-20 flex flex-col items-center justify-center relative">
      <div
        class="mb-6 max-w-[900px] w-[95%] flex flex-row items-center justify-between gap-20 z-10 relative"
      >
        <h1 class="m-0 text-6xl font-[MGNHumble] text-white translate-y-3">
          Work
        </h1>
        <p class="m-0 hidden text-white sm:text-right font-[InstrumentSans]">
          From personal branding to television work, here you can get a glimpse
          of some of the work I've done along the years.
        </p>
      </div>
      <div
        class="w-[95%] max-w-[900px] sm:overflow-x-visible overflow-x-scroll flex flex-row items-start gap-3 z-10 relative"
        id="filter"
      >
      </div>
      <hr class="w-[95%] max-w-[900px] mt-3 mb-1 opacity-10" />
      <section class="max-w-[900px] w-[95%] relative">
        <ul
          class="mt-3 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 grid-rows-2 gap-3"
        >
          {
            posts.map((post, index) => (
              <li
                data-type={post.data.type}
                class={`work-hover hover:shadow-xl shadow-white z-0 hover:z-10 relative ${index === 0 ? "col-span-2 row-span-2" : ""}`}
              >
                <a
                  class="flex flex-row items-start justify-between gap-5 relative"
                  href={`/work/${post.slug}/`}
                >
                  <div class="w-full h-full overflow-hidden relative">
                    <img
                      src={"/img/" + post.data.preview}
                      alt=""
                      class="w-full h-full object-cover"
                      transition:name={`work-title-${post.data.title}-image`}
                    />
                  </div>
                  <img
                    src="https://unpkg.com/pixelarticons@1.8.1/svg/arrow-right.svg"
                    alt="Open Project"
                    class={`${index === 0 ? "top-5 right-5" : "top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"} arrow w-10 invert absolute`}
                  />
                  <div
                    class={`${index === 0 ? "left-5 bottom-5 items-start justify-start" : "follower w-[600px] gap-3 opacity-0 items-center justify-center"} flex flex-col pointer-events-none absolute`}
                  >
                    <h3
                      class={`flex ${index === 0 ? "text-left" : "text-center"} m-0 fadeup font-[MGNHumble] text-white z-10 relative`}
                      transition:name={`work-title-${post.data.title}`}
                    >
                      {post.data.title}
                    </h3>
                    <div
                      class={`flex ${index === 0 ? "flex-col items-start" : "flex-row items-center gap-3"}`}
                    >
                      <p
                        class={`${index === 0 ? "" : "px-3 py-1 rounded-full bg-gray-600/60"} text-white text-2xl font-semibold`}
                        transition:name={`work-title-${post.data.title}-type`}
                      >
                        {post.data.type}
                      </p>
                      <p
                        class={`${index === 0 ? "" : "px-3 py-1 rounded-full bg-gray-600/60"} text-white`}
                        transition:name={`work-title-${post.data.title}-year`}
                      >
                        {post.data.year}
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>

<script is:inline data-astro-rerun>
  document.querySelectorAll(".work-hover").forEach((item) => {
    item.addEventListener("mouseenter", (e) => {
      const follower = item.querySelector(".follower");
      if (follower) {
        follower.style.display = "flex";
        follower.style.opacity = "1";
        follower.style.pointerEvents = "none";
        item.style.transition = "transform 0.2s ease";
      }
    });

    item.addEventListener("mousemove", (e) => {
      const follower = item.querySelector(".follower");
      if (follower) {
        const rect = item.getBoundingClientRect();
        const x = e.clientX - rect.left;
        const y = e.clientY - rect.top;
        follower.style.left = `${x}px`;
        follower.style.top = `${y}px`;

        const translateX = (x / rect.width - 0.5) * 20;
        const translateY = (y / rect.height - 0.5) * 20;
        item.style.transform = `translate(${translateX}px, ${translateY}px) scale(1.05)`;
        setTimeout(() => {
          item.style.transition = "transform 0s";
        }, 200);
      }
    });

    item.addEventListener("mouseleave", (e) => {
      const follower = item.querySelector(".follower");
      if (follower) {
        follower.style.display = "none";
        follower.style.opacity = "0";
        follower.style.pointerEvents = "none";
        item.style.transition = "transform 0.3s ease";

        // Reset translation
        item.style.transform = "translate(0, 0)";
      }
    });
  });

  document.addEventListener("astro:page-load", () => {
    const filterContainer = document.querySelector("#filter");
    filterContainer.innerHTML = "";
    const items = document.querySelectorAll(".work-hover");

    // Create filters from data-type attribute and also say how many items are there for each filter
    const types = new Set();
    types.add("All");
    items.forEach((item) => {
      types.add(item.dataset.type);
    });

    const typesArray = Array.from(types);
    const maxVisibleFilters = 5;

    // Function to create a filter button
    const createFilterButton = (type, count) => {
      const filter = document.createElement("button");
      filter.classList.add(
        "filter",
        "flex",
        "flex-row",
        "items-center",
        "gap-5",
        "text-white",
        "px-3",
        "py-1",
        "font-semibold",
        "hover:bg-white/10",
        "hover:text-white",
        "hover:shadow-lg",
        "transition",
        "duration-200"
      );
      filter.dataset.type = type;
      filter.innerHTML = `<b style="white-space: nowrap;">${type}</b> <p class="opacity-30">${count}</p>`;
      return filter;
    };

    // Add visible filters
    typesArray.slice(0, maxVisibleFilters).forEach((type) => {
      const count = Array.from(items).filter(
        (item) => item.dataset.type === type || type === "All"
      ).length;
      const filter = createFilterButton(type, count);
      filterContainer.appendChild(filter);
    });

    // Add remaining filters to dropdown if they exceed maxVisibleFilters
    if (typesArray.length > maxVisibleFilters) {
      const dropdown = document.createElement("div");
      dropdown.classList.add("relative", "inline-block", "text-left");

      const dropdownButton = document.createElement("button");
      dropdownButton.setAttribute("aria-label", "More filters");
      dropdownButton.classList.add(
        "filter",
        "flex",
        "flex-row",
        "items-center",
        "gap-5",
        "text-white",
        "px-3",
        "py-1",
        "font-semibold",
        "hover:bg-white/10",
        "hover:text-white",
        "hover:shadow-lg",
        "transition",
        "duration-200"
      );
      dropdownButton.innerHTML = `<b><img src="https://unpkg.com/pixelarticons@1.8.1/svg/chevron-down.svg" alt="More" class="invert w-8 h-8"/></b>`;
      dropdown.appendChild(dropdownButton);

      const dropdownContent = document.createElement("div");
      dropdownContent.classList.add(
        "dropdown-content",
        "absolute",
        "hidden",
        "bg-black",
        "border",
        "border-white",
        "text-white",
        "shadow-lg",
        "mt-0",
        "p-1",
        "z-10"
      );

      typesArray.slice(maxVisibleFilters).forEach((type) => {
        const count = Array.from(items).filter(
          (item) => item.dataset.type === type || type === "All"
        ).length;
        const filter = createFilterButton(type, count);
        dropdownContent.appendChild(filter);
      });

      dropdown.appendChild(dropdownContent);
      filterContainer.appendChild(dropdown);

      // Toggle dropdown visibility on hover
      dropdown.addEventListener("mouseenter", () => {
        dropdownContent.classList.remove("hidden");
      });

      dropdown.addEventListener("mouseleave", () => {
        dropdownContent.classList.add("hidden");
      });
    }

    // Re-select filters after they are added to the DOM
    const filters = document.querySelectorAll(".filter");

    // Filter items
    filters.forEach((filter) => {
      filter.addEventListener("click", (event) => {
        if (filter.innerHTML.includes("img")) {
          // Prevent "More" button from activating a filter
          event.preventDefault();
          return;
        }
        filters.forEach((f) => f.classList.remove("bg-white/20"));
        filter.classList.add("bg-white/20");
        const type = filter.dataset.type;
        items.forEach((item) => {
          if (type === "All" || item.dataset.type === type) {
            item.style.display = "block";
          } else {
            item.style.display = "none";
          }
        });
      });
    });
  });
</script>
