---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import i18next, { t, changeLanguage } from "i18next";
import timeline from "../../../public/json/timeline.json";

changeLanguage("es");

let lang = i18next.language;
let localizedTimeline = timeline[lang];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${t("header.about")} | ${t("site.title")}`}
      description={t("site.description")}
    />
  </head>
  <body>
    <Header isWork />
    <div class="w-screen h-screen pointer-events-none overflow-hidden absolute">
      <img
        src="/img/blob-2.avif"
        id="blob-2"
        alt=""
        class="w-[1300px] max-w-[1300px] sm:max-w-full left-1/2 sm:left-0 -translate-x-1/2 sm:translate-x-0 sm:w-auto translate-y-[0px] sm:-translate-y-[100px] z-10 absolute"
      />
    </div>
    <main
      class="w-screen flex flex-col items-center justify-center z-20 pointer-events-none relative overflow-hidden"
    >
      <div class="max-w-[600px] mt-[20vh] mb-[150px]">
        <div
          class="max-w-[700px] flex md:flex-row flex-col-reverse md:items-center gap-3"
        >
          <div
            id="hover-space"
            class="fadeup opacity-0 inline-block relative"
            style="animation-delay: 200ms;"
            onmousemove="handleMouseMove(event)"
          >
            <img
              alt="alex malvehy face"
              src="/img/am_standalone.webp"
              class="w-52 h-52 z-10 relative"
            />
          </div>
          <div class="fadeup md:w-[calc(100%-13rem)] w-[95%] z-10 relative">
            <h1
              class="md:-translate-x-16 md:translate-y-28 text-[MGNHumble] md:text-8xl text-6xl text-white md:text-right"
            >
              bon dia!
            </h1>
          </div>
        </div>
        <p
          class="mt-3 sm:mt-20 flex flex-col items-end justify-end relative leading-7 font-medium"
        >
          {t("about.catchPage")}
        </p>
      </div>
      <div
        class="-translate-x-18 sm:-translate-x-10 md:translate-x-0 max-w-[600px] sm:max-w-[1100px] flex flex-col items-start justify-start z-10"
      >
        {
          localizedTimeline.map((item) => (
            <div class="h-[420px] sm:h-[420px] flex flex-row items-start gap-3 relative">
              <p class="translate-x-12 translate-y-10 sm:translate-x-0 sm:translate-y-0 rotate-90 sm:rotate-0 w-[100px] sm:w-[200px] text-right text-white/60 relative text-ellipsis whitespace-nowrap">
                {item.date}
              </p>
              <div class="w-[5px] h-full bg-white mx-3 relative" />
              <div class="w-[280px] sm:w-[350px] md:w-[400px] flex flex-col items-start">
                <div
                  class="w-10 h-10 mb-2 invert relative"
                  set:html={item.icon}
                />
                <h2 class="mb-0 text-xl font-bold">{item.title}</h2>
                <p class="mb-3 text-white/60">{item.subtitle}</p>
                <p class="text-white">{item.content}</p>
              </div>
            </div>
          ))
        }
        <div class="h-[150px] flex flex-row items-start gap-3 relative">
          <p
            class="w-[100px] sm:w-[200px] text-right text-gray-500 relative text-ellipsis whitespace-nowrap"
          >
          </p>
          <div
            class="w-[5px] h-full mx-3 relative border-l-[5px] border-dashed border-white"
          >
          </div>
          <div class="w-[350px] sm:w-[500px] flex flex-col items-start"></div>
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>

<script is:inline>
  window.addEventListener("scroll", () => {
    const blob2 = document.getElementById("blob-2");
    const scrollPosition = window.scrollY;
    const screenHeight = window.innerHeight;

    if (blob2 && window.innerWidth > 900) {
      blob2.style.transform = `translateY(-${scrollPosition * 0.5 + 100}px)`;
    } else if (blob2) {
      blob2.style.opacity = `${0.8 - scrollPosition / screenHeight}`;
      blob2.style.transform = `translate(-50%, -${scrollPosition * 0.5}px)`;
    }
  });
</script>

<style>
  p {
    line-height: 1.5;
  }
</style>
